$sidebar-color: #222;
$standard-font-set: 'Fira Sans', 'Noto Sans CJK JP Regular', 'Noto Sans', 'PT Sans', 'Meiryo', sans-serif;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Fira Sans', 'PT Sans', 'Noto Sans', 'Meiryo', sans-serif;
  font-size: 18px;
  color: #222;
}

body {
  font-family: 'Fira Sans', 'PT Sans', 'Noto Sans', sans-serif;
  line-height: 1.3;
}

p {
  font-family: 'Fira Sans', 'PT Sans', 'Noto Sans', sans-serif;
}

.nihongo {
  font-family: 'Noto Sans', 'Noto Sans CJK JP Regular', 'Meiryo', 'Hirgino Gothic Pro W3', 'MS Gothic', sans-serif;
  * {
    font-family: 'Noto Sans', 'Noto Sans CJK JP Regular', 'Meiryo', 'Hirgino Gothic Pro W3', 'MS Gothic', sans-serif;
  }
}

section {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: .5em;
}

h1 {
  font-size: 2em;
  padding-top: 1.5em;
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
}


form > h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

input, textarea {
  font-family: $standard-font-set;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  transition: .2s box-shadow;
}

input { font-size: 1.2em; }
textarea { font-size: 1em; }

input:focus,
textarea:focus {
  box-shadow: 0 0 5px 0px hsl(161, 100%, 41%);
  outline: none;
}

input[type="submit"],
input[type="reset"] {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5em .75em;
  border: none;
  transition: .2s transform;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

input[type="submit"] {
  background-color: hsl(161,100%,41%);
}

input[type="reset"] {
  background-color: hsl(0, 70%, 30%);
}

.title {
  font-family: 'Noto Sans', 'PT Sans', 'Fira Sans', 'Meiryo', sans-serif;
  color: rgb(44, 44, 44);
}

.subtitle {
  font-family: 'Noto Sans', 'PT Sans', 'Fira Sans', 'Meiryo', sans-serif;
  color: rgb(64, 64, 64);
}

.hide { display: none; }

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::selection {
  color: #00d4ad;
  background: rgba(20, 20, 20, 1);
}

::-moz-selection {
  color: #00d4ad;
  background: rgba(20, 20, 20, 1); /* WebKit/Blink Browsers */
}


a {
  color: #00d4ad;
  font-weight: 600;
  transition: all .2s;
  text-decoration: none;
}

a:hover, p a:hover, a:visited:hover {
  color: #1abc9c;
}

a:visited {
  color: #1abc9c;
}

.sidebar {
  position: fixed;
  text-align: right;
  height: 100%;
  width: 26%;
  padding-top: 2em;
  background-color: $sidebar-color;

  .nav-menu {

    a {
        font-family: 'Fira Sans', 'PT Sans', sans-serif;
        font-weight: normal;
        position: relative;
        padding: 1.5em 3em 1.5em 0;
        color: #fff;
        text-decoration: none;
        transition: 1s all;
    }

    a:hover {
      color: #fff;
    }

    li.active a {
      color: #00d4ad;
    }

    li.active:hover {
      a {
        cursor: default;
      }
    }

    li {
      background-color: $sidebar-color;
      border-radius: 1em;
      transition: .2s all;
    }

    li.active,
    li:hover {
      transform: translateX(.5em);
    }
  } // .nav-menu
} // .sidebar

.nav-mobile { display: none; }

.nav-menu {
  list-style-type: none;
  text-transform: UPPERCASE;
  clear: right;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  font-size: 1.1em;

  a {
    display: inline-block;
    width: 100%;
  }
} // .nav-menu

.logo-wrap {
    float: right;
    width: 150px;
    padding: 20px;
} // logo-wrap


.nav-img {
  width: 100%;
}


header {
  box-sizing: border-box;
  max-height: 25vh;
  height: 400px;
  width: 74.2%;
  float: right;
  z-index: -10;
  background-color: rgba(0,0,0, 0.0);
  -webkit-transform-style: inherit;
  transform-style: inherit;
}

#banner {
  position: fixed;
  top: -50px;
  width: 100%;
  z-index: -10;
}

#main {
  background-color: #fff;
  z-index: 1;
  box-sizing: border-box;
  margin: 0px;
  padding: 0 1em 1em 5em;
  width: 75.1%;
  clear: right;
  float: right;
  overflow-y: hidden;
}

article {
  max-width: 750px;

  li {
    margin-left: 1.5em;
    list-style-type: disc;
  }
}

article#portfolio {
  max-width: 100%;
  width: 100%;

  h2.title {
    font-size: 1.4em;
    margin-top: 0;
  }

  h3.title {
    font-size: 1.2em;
  }
}


table {
  border-collapse: collapse;
  margin: 25px 0;
  border-left: 2px solid #ccc;
}

td {
  padding: 5px 0px 5px 20px;
  vertical-align: top;
}

td.more-left {
  padding-left: 35px;
}

a.github-icon {
    color: #555;
}

a.github-icon:hover {
    color: #1abc9c;
}

/* Acorddion styles */
.tab {
  position: relative;
  margin-bottom: 2px;
  width: 100%;
  color: #fff;
  overflow: hidden;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #16a085;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }

  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #1abc9c;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }

  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  input:checked ~ .tab-content {
    max-height: 10em;
  }
  /* Icon */
  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  input[type=checkbox] + label::after {
    content: "+";
  }
  input[type=radio] + label::after {
    content: "\25BC";
  }
  input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
  }
  input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }

} /* END ACCORDION STYLES */

.card {
  margin-bottom: 2em;
  /* -------------------
  box-shadow: offset-x | offset-y | blur-radius | spread-radius | color ***/
  box-shadow: 0 10px 20px rgba(0,0,0,0.24), 0 6px 6px rgba(0,0,0,0.28);
}

.card-thumbnail {
  min-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /*border-bottom: 1px solid #ccc;*/
}

.live-link {
  height: 100%;
}

.img-cont {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00d49c;
  opacity: .8;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
  transition: .2s ease;
}

.overlay-text {
  color: white;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1em;
  position: absolute;
  overflow: hidden;
  top: 57%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(8deg);
  -ms-transform: translate(-50%, -50%) rotate(8deg);
}

.img-cont:hover .overlay {
  height: 50%;
}


.card-detail {
  padding: 0.75rem;
  display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

p {

}


#portfolio .title {
  font-weight: bold;
  word-wrap: normal;
  padding-bottom: 0;
  /*text-transform: uppercase;*/
}


#portfolio .subtitle {
  font-weight: bold;
  margin-bottom: .75rem;
}

.stack {
  margin: 0 0 .75em;
  width: 100%;
  font-size: 2.25vw;
  font-family: "devicon";
  display: flex;
  flex-flow: row wrap;
    justify-content: center;

  i {
    color: hsl(161, 100%, 41%);
    padding: .75em 10px .25em;
    transition: .2s transform;
  }

  i:hover {
    color: rgb(44, 44, 44);
    transform: translateY(-.5rem);
  }
}

.link-wrap {
  align-self: flex-end;
}

.git-link {
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.1em .7em;
  color: #2E086E;
  border-color: #2E086E;
  transition: .2s all;
}

.link-wrap:hover > .git-link {
  background: #2E086E;
  color: #fff;
  border-color: #2E086E;
  transform: rotateY(180deg) scaleX(-1) rotate(-2deg);
  -moz-transform: rotateY(180deg) scaleX(-1) rotate(-2deg);
  -webkit-transform: rotateY(180deg) scaleX(-1) rotate(-2deg);
}

.github:before, .gitlab:before, .project:before {
  font-weight: normal;
}

.git-link.github:before {
  font-family: "FontAwesome";
  content: "\f09b";
  font-size: 1.6em;
  padding-right: .5rem;
}

.git-link.gitlab:before {
  font-family: "FontAwesome";
  content: "\f296";
  font-size: 1.4em;
  padding-right: .5rem;
}

.git-link.project:before {
  display: inline-block;
  font-family: "FontAwesome";
  transform: rotate(-15deg);
  content: "\f1e2";
  font-size: 1.4em;
  padding-right: .5rem;
}


/* END PORTFOLIO STYLES */


@media screen and (max-width: 1024px) {

  body {
    font-size: 16px;
  }

  #banner {
      background-attachment: scroll;
  }

  #main {
    padding: 0 1em 1em 3em;
  }

  article#portfolio {
    width: 90%;
  }

  .card {
    box-shadow: none;
  }
  .card-thumbnail {
    border-bottom: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.24), 0 8px 6px rgba(0,0,0,0.28);
  }

  .overlay-text {
    font-size: 2em;
  }

  .card-detail {
    padding: 0 2px;

    p {
      margin: 1em 0;
    }
  }

  .stack {
    font-size: 3em;
    padding-top: 0;

    i {
      padding: .25em 10px 0em;
    }
  }

  .link-wrap {
    align-self: center;
  }

  .git-link {
    padding: 1.5em 2em;
    transition: none;
    background: #2E086E;
    box-shadow: none;

    color: #fff;
    border: none;
  }

  .link-wrap:hover > .git-link {
    background: #000;
    color: hsl(161, 100%, 41%);
    border: none;
    box-shadow: none;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
}


@media only screen and (max-width: 768px) {

  body {
    font-size: 18px;
  }

  article {
    font-size: .9em;
    margin: 0;
    padding-top: 2.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .3em;
  }

  h1 { font-size: 2.2em; padding-top: .8em }
  h2 { font-size: 1.8em; }

  #main {
    font-size: .95em;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
  }

  article#portfolio {
    width: 100%;
  }

  p {
    margin: 0em auto .4em;
  }

  header, #banner {
    display: none;
  }

  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
  }

  table { border-left: none; }

  // MOBILE-NAV STYLES
  .nav-mobile {
    display: block;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    overflow: hidden;
    transition: .35s all;
    z-index: 99;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    .bg {
      z-index: 1;
      opacity: .4;
      height: 50%;
      margin: 0 auto;
      position: absolute;
      top: 30%;
      left: 20px;
      // transform: translate(20%, 6em);
    }

    a {
      display: inline-block;
      width: 100%;
      color: #16a085;
      padding: 1em 0;
      transition: 0s all;
    }

    a:hover {
      background-color: #16a085;
      color: #fff;
    }

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    label {
      position: relative;
      display: block;
      padding: 0;
      background: #16a085;
      font-weight: bold;
      line-height: 3;
      cursor: pointer;
      z-index: 10;
    }

    .label-left {
      text-align: left;
      position: fixed;
      left: 15px;
      top: 0;
    }

    .nav-opened {
      max-height: 0;
      overflow: hidden;
      background: #222;
      -webkit-transition: max-height .35s;
      -o-transition: max-height .35s;
      transition: max-height .35s;

      ul {
        z-index: 88;
        margin: 0;
        padding: 0;
      }

      li {
        z-index: 99;
        display: block;
        background-color: none;
      }

    }

    /* :checked */
    input:checked ~ .nav-opened {
      max-height: 90vh;
    }

    label, .label-left, .spinner, .spin {
      transition: .3s all;
    }

    .spinner {
      display: inline-block;
      transform: rotate(0deg) translateY(0);
    }


    .spin {
      animation: flip .4s;
      transform: rotate(-5deg);
      font-size: 1.2em;
    }

    @keyframes flip {
      0% {
        transform: rotateX(0deg) rotate(0deg);
        -webkit-transform: rotateX(0deg) rotate(0deg);
      }

      100% {
        transform: rotateX(360deg) rotate(-5deg);
        -webkit-transform: rotateX(360deg) rotate(-5deg);

      }
    }

  } // .nav-mobile

  .top-btn {
    text-align: center;
  }

  .sidebar {
    display: none;
  }

  .overlay-text {
    font-size: 1.5em;
    left: 25%;
  }

  .stack {
    i:hover {
      transform: translateY(0);
    }
  }

} // max-width: 768px

@media screen and (max-width: 480px) {
  // .overlay-text {
  //   left: 23%;
  // }
}

@media only screen and (max-width: 400px) {
  .nav-mobile {
    label {
      text-align: right;
      padding-right: 25px;
    }

    @keyframes flip {
      0% {
        transform: rotateX(0deg) rotate(0deg);
        -webkit-transform: rotateX(0deg) rotate(0deg);
      }

      100% {
        transform: rotateX(360deg) rotate(5deg);
        -webkit-transform: rotateX(360deg) rotate(5deg);
      }
    }

    .spin {
      transform: rotate(5deg) translateY(0);
      font-size: 1em;
    }

  } // .nav-mobile

} // max-width: 400px
